<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
</head>
<body>
{{>header}}

    <h1 id="h1">{{location}}</h1>
    <p id="p">temperature: {{temperature}}</p>

    <form >
        <input type="text" placeholder="Enter a Location">
        <button>Search</button>
    </form>



    <script src="/js/index.js"></script>
</body>
</html>